@font-face {
    font-family: "Audiowide";
    src: url(./Fontes/Audiowide-Regular.ttf);
}
@font-face {
    font-family: "FugazOne";
    src: url(./Fontes/FugazOne-Regular.ttf);
}
@font-face {
    font-family: "JotiOne";
    src: url(./Fontes/JotiOne-Regular.ttf);
}
@font-face {
    font-family: "LimeLight";
    src: url(./Fontes/Limelight-Regular.ttf);
}


html{
    background-color: rgb(51, 45, 45);
    background-image: url(imagens/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
h1{
    text-align: center;
    text-decoration: none;
    font-family: "FugazOne", system-ui;
}
.navbar ul{
    list-style-type:  none;
    background-color: rgb(110, 103, 129);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(65, 62, 62);
}

/*GALERIA AGUARDADOS*/

.galerias .galeria-aguardados{
    display: inline-block;
    border: 1px solid rgb(155, 154, 154);
    margin: 5px;
    width: 200px;
}
.galerias .description{
    padding: 10px;
    text-align: center;
    color: aqua;
}
.galerias .galeria-aguardados:hover{
    border: 1px solid rgb(255, 255, 255);
}
.galerias .populares{
    display: inline-block;
    border: 1px solid rgb(155, 154, 154);
    margin: 5px;
    width: 200px;
}
.galerias .populares:hover{
    border: 1px solid rgb(255, 255, 255);
}
.galerias img{
    width: 100%;
    height: 250px;
}
.galerias h1{
    color: aqua; text-align: left;
}
.Sobre{
    padding: 10px;
}
/*FORMULARIO*/
form{
    color: grey;
}

/*RODAPE*/

.rodape {
    background-color: black;
    color: white;
    height: auto;
    width: 100%;
    font-size: 11px;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.rodape a {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
}
.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div img{
    width: 50%;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span {
    color: rgb(95, 141, 57);
}
.rodape-direitos {
    width: calc(100% - 20px);
    background-color: rgb(79, 156, 111);
    padding: 10px;
    margin: 0px;
    text-align: center;
}

/*JOGOS*/

.ListaJogos{
    display: inline-block;
    text-align: center;
    margin: auto;
}
.ListaJogos img{
    width: 225px;
    height: 250px;
}